In [1]:
import os
import pandas as pd
import sqlalchemy

In [53]:
user = 'root' # login
psw = 'Dantefn_2010' # senha
database = 'olist'
host = 'localhost' # ip/host/dns
port = '3306' # porta

In [54]:
str_conection = 'mysql+pymysql://{user}:{psw}@{host}:{port}/{database}'
print(str_conection)

mysql+pymysql://{user}:{psw}@{host}:{port}/{database}

In [55]:
# Os endereços de nosso prjeto e sub pastas
BASE_DIR = os.path.dirname(os.path.dirname( os.path.dirname(os.path.abspath('upload_data.py'))))
DATA_DIR = os.path.join(BASE_DIR, 'data')

print(DATA_DIR)

/home/anselmo/Documentos/cursos/ml/olist/data

In [56]:
# Encontrando os arquivo de dados
file_names = [i for i in os.listdir(DATA_DIR) if i.endswith(".csv")]
print(file_names)

['olist_order_items_dataset.csv', 'olist_customers_dataset.csv', 'olist_order_payments_dataset.csv', 'product_category_name_translation.csv', 'olist_geolocation_dataset.csv', 'olist_order_reviews_dataset.csv', 'olist_sellers_dataset.csv', 'olist_products_dataset.csv', 'olist_orders_dataset.csv']

In [57]:
# Arbindo conexão com o banco...
str_conection = str_conection.format(user =user, psw=psw, host=host, port=port, database=database)
connection = sqlalchemy.create_engine( str_conection)

In [58]:
for i in file_names:
    print(i)
    df_temp = pd.read_csv(os.path.join(DATA_DIR, i))
    table_name = "tb_" + i.strip(".csv").replace("olist_","").replace("_dataset","")
    df_temp.to_sql(table_name,con=connection,if_exists='replace',index= False)

olist_order_items_dataset.csv
olist_customers_dataset.csv
olist_order_payments_dataset.csv
product_category_name_translation.csv
olist_geolocation_dataset.csv
olist_order_reviews_dataset.csv
olist_sellers_dataset.csv
olist_products_dataset.csv
olist_orders_dataset.csv

In [45]:
engine =  sqlalchemy.create_engine('mysql+pymysql://root:Dantefn_2010@localhost:3306/olist')
                                  #  mysql+pymysql://<username>:<password>@<host>/<dbname>

In [46]:
df = pd.read_sql_table("CLIENTE", engine)
df

,NOME,SEXO,EMAIL,CPF,TELEFONE,ENDERECO
0,JOAO,M,JOAO@GMAIL.COM,988638273,22923110,MAIA LACERDA - ESTACIO - RIO DE JANEIRO - RJ
1,CELIA,F,CELIA@GMAIL.COM,541521456,25078869,RIACHUELO - CENTRO - RIO DE JANEIRO - RJ
2,JORGE,M,None,885755896,58748895,OSCAR CURY - BOM RETIRO - PATOS DE MINAS - MG
3,ANA,F,ANA@GLOBO.COM,85548962,548556985,PRES ANTONIO CARLOS - CENTRO - SAO PAULO - SP
4,CARLA,F,CARLA@TERATI.COM.BR,7745828,66587458,SAMUEL SILVA - CENTRO - BELO HORIZONTE - MG